﻿{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/guidelines.css' %}">
		<title>Основы обеспечения качества и сертификации промышленных изделий</title>
	</head>
	<body>
		<div class="page-header">
			<form class="form-search" align="right">
				<input type="text" id="text-to-find" value="" class="input-medium search-query">
				<button type="submit" onclick="javascript: FindOnPage('text-to-find'); return false;" class="btn">Найти</button>
			</form>
		</div>
		<div>
                <h1 align="center">Основы обеспечения качества и сертификации промышленных изделий</h1>
				<h1 align="center">В.М. Медунецкий</h1>
		{% for article in articles %}
		<div>
		<h1 align="center">{{ article.title }}</h1>
		<div class="article-form">
			<p text-align: center>{{ article.text|safe }}</p>
			<b>Теги: {{ article.tags.names }}</b>
		</div>
		</div>
		{% endfor %}
		
		
	<script type="text/javascript">
	var lastResFind="";
	var copy_page="";
	function TrimStr(s) {
		s = s.replace( /^\s+/g, '');
	return s.replace( /\s+$/g, '');
	}
	function FindOnPage(inputId) {
	var obj = window.document.getElementById(inputId);
	var textToFind;
  
	if (obj) {
		textToFind = TrimStr(obj.value);
	} else {
		alert("Введенная фраза не найдена");
		return;
	}
	if (textToFind == "") {
		alert("Вы ничего не ввели");
		return;
	}
   
	if(document.body.innerHTML.indexOf(textToFind)=="-1")
	alert("Ничего не найдено, проверьте правильность ввода!");
   
	if(copy_page.length>0)
        document.body.innerHTML=copy_page;
	else copy_page=document.body.innerHTML;
 
   
	document.body.innerHTML = document.body.innerHTML.replace(eval("/name="+lastResFind+"/gi")," ");//стираем предыдущие якори для скрола
	document.body.innerHTML = document.body.innerHTML.replace(eval("/"+textToFind+"/gi"),"<a name="+textToFind+" style='background:red'>"+textToFind+"</a>"); //Заменяем найденный текст ссылками с якорем;
	lastResFind=textToFind; // сохраняем фразу для поиска, чтобы в дальнейшем по ней стереть все ссылки
	window.location = '#'+textToFind;//перемещаем скрол к последнему найденному совпадению
	} 
	</script>	
	</body>
</html>